@model Projekt4.Models.db.news

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Nyheter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.information)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.information)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.director)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.director)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.actors)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.actors)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.program.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.program.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
